* {
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

html {
    height: 100%;
}

body {
    height: 2000px;
    white-space: nowrap;
}

.wrapper {
    width: 1000px;
    height: 500px;
    border: 20px solid red;
    position: relative;
    margin: 50px;
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;

}

.vertical {
    width: 150px;
    height: 421px;
    background: #7bf903;
    margin: 20px;
    float: left;
    border: 1px solid black;
    overflow: auto;
    min-height: 30px;

}

.horizontal {
    background: blue;
    width: 120px;
    height: 60px;
    margin: 10px;
    color: white;

}

h5 {
    text-decoration: underline;
    text-align: justify;

}

